/* ---------------------------------------------------- */
/* Basic Setup */
/* ---------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #555555;
    font-size: 20px;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */

header {
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 100px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    padding: 10px;
}

header nav {
    float: right;
    margin-top: 20px;
}

/* Clearfix */
.clearfix {
    overflow:auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* main */

/* ---------------------------------------------------- */
/* Flyer Section and Hero text */
/* ---------------------------------------------------- */

.artwork {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://source.unsplash.com/mcLpPD36-2k);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    float: left;
    position: relative;
    overflow: auto;
}

.hero-text {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 10%;
    right: 10%;
    color: #ffffff;
    font-weight: 200;
}

.btn {
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
}

/* ---------------------------------------------------- */
/* Form */
/* ---------------------------------------------------- */

.register-form {
    float: right;
    width: 50%;
    height: 100vh;
    overflow: auto;
    background: #dbd9d9
}

.contact-form, 
.register-team {
    width: 90%;
    margin: 0 auto;
}

.register-team {
    padding: 30px;
}

.register-team h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.register-team h2, 
.register-team p {
    text-align: center;
}

.contact-form {
    background: #fff;
    padding: 50px;
    border-radius: 50px;
}

input[type=text],
input[type=email],
input[type=tel], 
input[type=submit] {
    padding: 10px;
    border: 1px solid #cccccc;
}

input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    border-radius: 3px;
}

input[type=submit] {
    width: 30%;
    border-radius: 50px;
    font-size: 20px;
    background-color: #35424a;
    color: #ffffff;
}

input[type=submit]:hover {
    border: #e8491d 2px solid ;
    background-color: #35424a;
    color: #ffffff;
}

input[type=checkbox] {
    margin: 10px;
}

.form-elements {
    margin-bottom: 5px;
    padding: 10px;
}


/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */

footer {
    clear: both;
    border-top: #e8491d 3px solid;
    background-color: #35424a;
    /* overflow: auto; */
    /* width: 100%; */
    padding: 50px; 
}

.footer-nav {
    list-style: none;
    float: left;
    margin-top: -30px;
}

.social-links {
    list-style: none;
    float: right;
    margin-top: -30px;
}

.footer-nav li, 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link, 
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.2s;
}

.footer-nav li a:hover, 
.footer-nav li a:active{
    color: #dddddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}


.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.copyright p {
    color: #888888;
    text-align: center;
    margin-top: 50px;
    font-size: 80%;
}
